Hello Data points ðŸ˜„


# My Class Notes

**By Rudra**

> Hi everyone, these are my class notes from one of my favorite teachers, Nitesh sir.



Class- [Link](#https://www.youtube.com/live/WmbU3WBaoR0?si=mGcik_2LAEoTRO1h)

# 1. Lists



list is a data type where you can store multiple items in a single variable.dynamic array.


**Arry vs lists**

pro:
- fixed vs Dynamic
- Convienace -> heterogeneous

cons:
- speed of Execution
- Memory

In [ ]:
l = [1, 2, 3]
# id helps to print the  memory
# referential array

print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

print(id(1))
print(id(2))
print(id(3))

136263744352384
136263964967152
136263964967184
136263964967216
136263964967152
136263964967184
136263964967216

# Characterstics of a List


- Ordered
- Changeable/Mutable
- Hetrogeneous
- Can be duplicated
- are Dynamic
- can be nested
- items can be accessed by index
- can contain any datatype in python

# Creating a lists

In [ ]:
# empty
print([])
L= []
print(L)


# 1D ->
L = [1, 2, 3, 4, 5]
print(L)

# 2D ->
L = [1, 2, 3, [4, 5, 6]]
print(L)

# 3D ->
L = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(L)

#Hetrogenous
print(1, True, 5.9, 5+3j, 'z')

# using type converstion
print(list('hello'))
print(list({1, 2, 3}))

[]
[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
1 True 5.9 (5+3j) z
['h', 'e', 'l', 'l', 'o']
[1, 2, 3]

# Accessing items from a List
- Indexing
- Slicing

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])

1
2
3
4
5

# Accessing items from a lists

In [ ]:
 k = [1, 3, 5, 7, 9]
 print(k[4])

9

In [ ]:
w =  [1, 2, 3 ,4, [5, 6]]
print(w[-1][-1])

6

In [ ]:
o = [[12, 4, 5 ],
     [24, 5, 9, 0],
      [ [45, 67],
        [24, 69] ]
     ]

print(o[2][1][1])

6

In [ ]:
v = [1, 3, 5, 8, 9, 2]
print(v[1::1])

[3, 5, 8, 9, 2]

# Adding items to a List

In [ ]:
v.append(True)
print(v)

[1, 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True]

In [ ]:
v.extend([2, 4, 5, 6, 9])
print(v)

[1, 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9]

In [ ]:
v.append([3, 56, 67])
print(v)

[1, 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9, [3, 56, 67]]

In [ ]:
v.extend('Odisha')
print(v)

[1, 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a']

In [ ]:
# insert
# index place, what to place

v.insert(0, 'hello')
print(v)

['hello', 1, 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a']

# Editing

In [ ]:
v[1] = 'Rudra'
print(v)

['hello', 'Rudra', 3, 5, 8, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a']

In [ ]:
v[3:5] = [300, 400, 500]
print(v)

['hello', 'Rudra', 3, 300, 400, 500, 5, 9, 2, True, True, 2, 4, 5, 6, 9, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a']

# deleting items
- del
- reomve
- pop
- clear

In [ ]:
h = [1,2,3,4,5,6,7,8,9]
del h[0]
print(h)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del h[:3]
print(h)

[2, 5, 6, 7, 8, 9]

In [ ]:
# reomve

h.remove(8)
print(h)

[2, 5, 6, 7, 9]

In [ ]:
# pop

h.pop(0)
print(h)

[5, 6, 7, 9]

In [ ]:
# del last value
# deflut is -1 (Last is deleted)
h.pop()
print(h)

[5, 6, 7]

In [ ]:
# clear
# empty the list

h.clear()
print(h)

[]

# Operations on Lists
- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic ( +, *)

l1 = [1, 2, 3]
l2 = [4, 5, 6]

print(l1 + l2)
print(l1 * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Membership

print(1 in l1)
print(1 not in l1)

True
False

In [ ]:

k = [1, 2, 3, [4, 5, 6]]
print([4, 5, 6] in k)

True

In [ ]:
# loop

for i in k:
  print(i)

1
2
3
[4, 5, 6]

In [ ]:
o = [
     [12, 4, 5 ],
     [24, 5, 9, 0],
     [ [45, 67],
       [24, 69] ]
     ]

for i in o:
  print(i)

[12, 4, 5]
[24, 5, 9, 0]
[[45, 67], [24, 69]]

# List Function
- len/ min/ max/ sorted
- count
- reverse
- sort (vs sorted )
- copy
-

In [ ]:
r1 = [1, 2, 3, 4, 5]
print('Length of the function is :', len(r1))
print('Minimum item in the function is :', min(r1))
print('Maximum item in  the function is :', max(r1))
print('Sorted of the function is :', sorted(r1)) # reverse = True (parameter)

Length of the function is : 5
Minimum item in the function is : 1
Maximum item in  the function is : 5
Sorted of the function is : [1, 2, 3, 4, 5]

In [ ]:
# count
r2 = [2, 3, 4, 5, 2, 4, 2, 3, 2, 1, 3]
print(r2.count(2))
print(r2.count(3))

4
3

In [ ]:
r3 = [1, 2, 3, 4, 1, 5,  5]
r3.index(2)
r3.index(5) # first occurence

5

In [ ]:
r4 = [1, 2, 3, 4, 5]
r4.reverse() # paramanet
print(r4)

[5, 4, 3, 2, 1]

In [ ]:
# sorted -> parmanet
# sort -> temporary

r5 = [1, 2, 3, 4, 5]
print(r5)
print(sorted(r5))
print(r5)

r5.sort()
print(r5)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# copy
# deep copu / shallow copy
r6 = [1, 2, 3, 4, 5]
r7 = r6.copy()
print(r6)
print(r7)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# List Comperehension
```
new_list = [ Expression for item in iterable if condition == True ]
```
it provie a consie way of creting lists.

In [ ]:
# adding 1 to 10 number ro a lists

l1 = []
for i in range(1, 11):
  l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [i for i in range(1, 11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalr multiplication

l2 = [i*2 for i in range(1, 11)]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
v = [2, 3, 4 ]
s = -3
l3 = [i*s for i in v]
print(l3)

[-6, -9, -12]

In [ ]:
# add square

l4 = [i**2 for i in range(1, 6)]
print(l4)

[1, 4, 9, 16, 25]

In [ ]:
# print all numbers divisible by 5 in the range of 1 to 50
l5 = [i for i in range(1, 51) if i%5 == 0]

In [ ]:
# words start with p
words = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'python', 'php', 'pandas']
l6 = [word for word in words if word.startswith('p')]
print(l6)

['python', 'php', 'pandas']

In [ ]:
# nested if

l7 = [i for i in range(1, 101) if i%5 == 0 if i%7 == 0]
print(l7)

[35, 70]

In [ ]:
# matrix

[ [i*j for i in range(1, 4)] for j in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# pairing
g = [1, 2, 3]
h = [4, 5, 6]
l8 = [(i, j) for i in g for j in h]
print(l8)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [ ]:
# cartesian product

g = [1, 2, 3]
h = [4, 5, 6]
l9 = [ i*j for i in g for j in h]
print(l9)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

# 2 way to traverse a list
- iteam-wise
- index-wise

In [ ]:
# item wise

for l in l9:
  print(l)

4
5
6
8
10
12
12
15
18

In [ ]:
# idexwise
y = [1, 2, 3, 4, 5]

for i in range(0, len(y)):
  print(y[i])

1
2
3
4
5

In [ ]:
# idexwise
y = [1, 2, 3, 4, 5]

for i in range(len(y)):
  print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# Zip

In [ ]:
# The zip function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together
# and then the second item in each passed iterator are paired together etc.

# If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
b1 = [1, 2, 3]
b2 = [4, 5, 6, 4]

print(list(zip(b1, b2)))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
[i+j for i,j in zip(b1, b2)]

[5, 7, 9]

In [ ]:
m = [1, 7, True, 5+3j, input, 'hello', print]
print(m)

[1, 7, True, (5+3j), <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7dd2712c4af0>>, 'hello', <built-in function print>]

In [ ]:
a = [1, 2, 3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]